@font-face {
  font-family: "Mona Sans";
  src: url("./assets/Mona-Sans.ttf");
}
body {
  background-color: #0b0f17;
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 2rem;
}
#main {
  padding: 1rem 5rem;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #e2dfdd;
  margin-bottom: 8rem;
}
#nav div:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 2rem;
}
#nav div:nth-child(3) {
  display: flex;
  align-items: center;
  gap: 2rem;
}
#nav .link {
  color: #a8abb0;
  text-decoration: none;
  font-size: 1rem;
  text-transform: capitalize;
}
#nav .link.link_btn {
  background-color: #84d4e9;
  color: #0b0f17;
  font-weight: 600;
  padding: 0.6rem 2rem;
  border-radius: 30px;
}
#hero_section {
  display: flex;
  gap: 7rem;
  margin-bottom: 5rem;
}
#hero_section h1 {
  letter-spacing: -3px;
  transform-origin: 0% 0%;
  margin: 0;
  color: #e2dfdd;
  font-size: 7rem;
  line-height: 6.5rem;
  transform: scale(1.2, 1.6);
}

#hero_section div:nth-child(2) {
  /* width: 670px; */
  display: flex;
  gap: 3rem;
}
#hero_section .hero_text_div {
  color: #e2dfdd;
  margin-bottom: 3rem;
}

#hero_section .hero_text_div span {
  background-color: #e2dfdd;
  color: #0b0f17;
  border-radius: 50px;
  padding: 4px;
  width: 18px;
  font-size: 1rem;
}
#hero_section .hero_text_div .hero_text_one {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;
}
#hero_section .hero_text_div .hero_text_two {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;
}
#hero_section .hero_text_div span i {
  font-size: 1rem;
}
.hero_img_div {
  box-shadow: #0b0f17 0px 7px 29px 0px;
}

.hero_img_div img {
  width: 180px;
  height: 450px;
  border-radius: 100px;
}
