@font-face {
  font-family: "Mona Sans";
  src: url("./assets/Mona-Sans.ttf");
}
body {
  background-color: #0b0f17;
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-x: none;
}
#main {
  padding: 2rem 4rem;
}
[data-hidden] {
  opacity: 0;
}
/* nav */
#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #e2dfdd;
  margin-bottom: 3rem;
}
#nav div:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 2rem;
}
#nav div:nth-child(3) {
  display: flex;
  align-items: center;
  gap: 2rem;
}
#nav .link {
  color: #a8abb0;
  text-decoration: none;
  font-size: 1rem;
  text-transform: capitalize;
}
#nav .link.link_btn {
  background-color: #84d4e9;
  color: #0b0f17;
  font-weight: 600;
  padding: 0.6rem 2rem;
  border-radius: 30px;
}

/* hero_section */
#hero_section {
  display: flex;
  gap: 7rem;
  margin-bottom: 14rem;
}
#hero_section h1 {
  letter-spacing: -3px;
  transform-origin: 0% 0%;
  margin: 0;
  color: #e2dfdd;
  font-size: 7rem;
  line-height: 6.5rem;
  transform: scale(1.2, 1.6);
}
#hero_section .hero_text_div p {
  color: #e2dfdd;
  margin-bottom: 3rem;
}
#hero_section .hero_text_div a {
  color: #84d4e9;
}
.hero_text_and_image {
  display: flex;
  gap: 3rem;
}
#hero_section .hero_text_div span {
  display: flex;
  background-color: #e2dfdd;
  color: #0b0f17;
  border-radius: 50px;
  padding: 4px;
  width: 18px;
  font-size: 1rem;
}
#hero_section .hero_text_div .hero_text_one {
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
}
#hero_section .hero_text_div .hero_text_two {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
#hero_section .hero_text_div span i {
  font-size: 1rem;
}
.hero_img_div {
  box-shadow: 0px 0px 29px 8px #202737;
  border-radius: 100px;
}
.hero_img_div img {
  width: 180px;
  height: 450px;
  border-radius: 100px;
  object-fit: cover;
}

/* services_section */
#services_section {
  margin-bottom: 8rem;
  transition: all 1;
}
#services_section .first {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 350px;
  grid-row-gap: 4rem;
  grid-column-gap: 1.5rem;
  margin-bottom: 2rem;
}
#services_section img {
  width: 100%;
  border-radius: 50px;
}
#services_section img:hover {
  scale: 1.02;
}
#services_section span {
  position: absolute;
  bottom: 16px;
  left: 2rem;
  background-color: #0b0f17;
  color: #e2dfdd;
  padding: 1rem 2rem;
  border-radius: 50px;
  font-weight: 600;
  font-size: 0.9rem;
}
#services_section .services_one {
  grid-column: 1 / span 3;
  grid-row: 350px;
  position: relative;
}
#services_section .services_two {
  width: 200px;
  grid-column: auto;
}
#services_section .services_two img {
  width: 100%;
  height: 100%;
  border-radius: 100px;
  box-shadow: 0px 0px 29px 8px #202737;
}
#services_section .services_three {
  background-color: #0d1d30;
  border-radius: 50px;
  padding: 2rem;
  grid-column: 5 / span 6;
}
#services_section .services_three h3 {
  font-size: 2.5rem;
  color: #e2dfdd;
  transform: scale(1.2, 1.8);
  letter-spacing: -1px;
  transform-origin: 0% 0%;
  margin: 0 0 3rem;
}
#services_section .services_three p {
  color: #a8abb0;
  margin-bottom: 4.5rem;
}
#services_section .services_three button {
  width: 100%;
  border-radius: 50px;
  background-color: #fb6375;
  font-weight: 500;
  font-size: 1rem;
  color: #0b0f17;
  padding: 1rem 0;
  border: none;
  cursor: pointer;
}
#services_section .second {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}
.services_four {
  position: relative;
}
.services_five {
  position: relative;
}
.services_six {
  position: relative;
}

/* testimonial_section */
#testimonial_section {
  display: flex;
  gap: 6rem;
}
.slide_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  background-color: #0d1d30;
  border-radius: 50px;
  max-width: 600px;
  margin: 0 auto;
}

.slide_item {
  display: none;
  gap: 3rem;
  width: 100%;
}

.slide_item img {
  object-fit: cover;
  max-width: 170px;
  border-radius: 100px;
  height: 400px;
}

.slide_item h3 {
  font-size: 1.9rem;
  margin: 1rem 0 1.3rem;
  color: #e2dfdd;
  transform: scale(1.2, 1.3);
  letter-spacing: -1px;
  transform-origin: 0% 0%;
}

.slide_item p {
  font-size: 1rem;
  color: #a8abb0;
  margin-bottom: 2.5rem;
}
.slide_item span {
  color: #5b5d60;
  display: block;
  margin-bottom: 3rem;
}
.slide_item button {
  background-color: #84d4e9;
  color: #0b0f17;
  border-radius: 30px;
  width: 100%;
  font-weight: 600;
  border: none;
  padding: 1rem 0;
  margin-top: 10px;
  cursor: pointer;
  font-size: 1rem;
}

.slide_indication {
  text-align: center;
  margin-top: 20px;
}

#slide_indicators {
  display: flex;
  justify-content: center;
}

.slide_indicator {
  width: 10px;
  height: 10px;
  background-color: #585656;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.slide_indicator.active {
  background-color: #e2dfdd;
}
.testimonial_heading {
  display: flex;
  gap: 1rem;
  width: 200px;
  margin-top: 4rem;
}
.testimonial_heading span {
  background-color: #e2dfdd;
  color: #0b0f17;
  border-radius: 50px;
  padding: 4px;
  width: 18px;
  height: 18px;
  font-size: 1rem;
}
.testimonial_heading h1 {
  font-size: 5rem;
  color: #e2dfdd;
  transform: scale(1, 1.8);
  letter-spacing: -1px;
  transform-origin: 0% 0%;
  line-height: 4rem;
  margin: 0;
}

/* support section */
#support_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  grid-gap: 5rem;
  margin: 10rem 0;
}
.support_img_div {
  display: flex;
  justify-content: center;
}
#support_section img {
  width: 250px;
  border-radius: 100px;
  height: 400px;
  object-fit: cover;
  box-shadow: 0px 0px 29px 8px #202737;
}
#support_section h2 {
  width: 140px;
  font-size: 2rem;
  color: #e2dfdd;
  transform: scale(1.9, 2.5);
  letter-spacing: -1px;
  line-height: 2rem;
  transform-origin: 0% 0%;
  margin: 0 0 3rem;
}
#support_section h1 {
  width: 155px;
  font-size: 5rem;
  color: #e2dfdd;
  transform: scale(1.4, 2.5);
  letter-spacing: -1px;
  line-height: 6.5rem;
  transform-origin: 0% 0%;
  margin: 0 0 3rem;
}
.support_text_one span,
.support_text_two span {
  display: flex;
  background-color: #e2dfdd;
  color: #0b0f17;
  border-radius: 50px;
  padding: 4px;
  width: 18px;
  font-size: 1rem;
}
.support_text_one h1,
.support_text_two h1 {
  letter-spacing: -3px;
  transform-origin: 0% 0%;
  margin: 0;
  color: #e2dfdd;
  font-size: 7rem;
  line-height: 6.5rem;
  transform: scale(1.2, 1.6);
}
.support_text_one p,
.support_text_two p {
  color: #e2dfdd;
  margin-bottom: 3rem;
}
.support_text_one a,
.support_text_two a {
  color: #84d4e9;
}
.support_text_div button {
  border: 1px solid #fb6375;
  color: #fb6375;
  background-color: #0b0f17;
  border-radius: 50px;
  padding: 0.9rem 6rem;
  cursor: pointer;
}

/* calculate_and_links_section */
#calculate_and_links_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#calculate_and_links_section h1 {
  width: 500px;
  font-size: 1.5rem;
  margin: 1rem 0;
  color: #e2dfdd;
  transform: scale(1.2, 1.6);
  letter-spacing: -1px;
  transform-origin: 0% 0%;
}
.calculate_numbers {
  width: 480px;
}
.tab_container {
  margin: 4rem 0 2.5rem;
  display: flex;
  gap: 1rem;
}
.tab {
  display: none;
}
.tab.active {
  display: block;
}
.tab_container .tab_btn {
  background-color: #141b28;
  color: #e2dfdd;
  border: none;
  border-radius: 50px;
  padding: 0.5rem 1.2rem;
}
.tab_container .tab_btn:focus,
.tab_container .tab_btn:hover {
  background-color: #e2dfdd;
  color: #0b0f17;
  border: none;
}
.tab_content .tab .inputs {
  display: flex;
  gap: 1rem;
}
.tab_content .tab form label {
  color: #a8abb0;
  font-size: 0.9rem;
}
.tab_content .tab form input {
  margin-top: 0.5rem;
  background-color: #1f283d;
  color: #e2dfdd;
  font-size: 1rem;
  border: none;
  padding: 0.8rem 1rem;
  width: 200px;
  border-radius: 50px;
}
.tab_content .tab form input:focus {
  outline: none;
}
.tab_content .tab form button {
  width: 100%;
  background-color: #fb6375;
  color: #fff;
  border: none;
  margin-top: 2.2rem;
  padding: 0.8rem 0;
  border-radius: 50px;
  font-weight: 700;
  font-size: 1rem;
}
.tab_content .tab .inputs div {
  display: flex;
  flex-direction: column;
}
.links_section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.links_section h3 {
  font-size: 1rem;
  color: #e2dfdd;
}
.links_section a {
  font-size: 0.9rem;
  text-decoration: none;
  color: #a8abb0;
  margin-right: 1rem;
  line-height: 1rem;
}
#footer {
  margin-top: 12rem;
  color: #e2dfdd;
  display: flex;
  font-size: 0.8rem;
  justify-content: space-between;
}
#footer a {
  color: #e2dfdd;
  font-size: 0.8rem;
  text-decoration: none;
  margin-right: 1rem;
}
